.button {
  display: flex;
  justify-content: center;
  background-color: #756C5E;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: opacity 1s;
  color: white;
  font-size: 18px;
  user-select: none;

  &:hover {
    opacity: 0.7;
  }
}

.dark-mode .button {
  background-color: #DCF5E4;
  color: #1E2940;
}
