.planner__task {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  gap: 5px;
  font-size: 18px;
  background-color: #F5E1C4;
  border-radius: 10px;
  padding: 10px 15px;
}

.dark-mode .planner__task {
  background-color: #7692A8;
}

.planner__task-container {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.planner__task-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.planner__task-label {
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
}

.planner__task-buttons {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}

.planner__checkbox {
  cursor: pointer;
}

.checked-task {
  text-decoration: line-through;
}

.planner__task-btn {
  cursor: pointer;
  display: flex;
  padding: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.planner__btn-logo {
  width: 20px;
  height: 20px;
}

.planner__logo-erase {
  fill: #D94141;

  &:hover {
    fill: #D90000;
  }
}

.dark-mode .planner__logo-erase{
  fill: #291A19;

  &:hover {
    fill: #9F3030;
  }
}

.planner__logo-edit {
  fill: #757537;

  &:hover {
    fill: #A8A87E;
  }
}

.dark-mode .planner__logo-edit{
  fill: #292911;

  &:hover {
    fill: #C9F5B8;
  }
}

.priority--low {
  background-color: #2BD95C;
}

.dark-mode .priority--low  {
  background-color: #757537;
}

.priority--medium {
  background-color: #D9BD57;
}

.dark-mode .priority--medium  {
  background-color: #C2A73E;
}

.priority--high {
  background-color: #E66C39;
}

.dark-mode .priority--high  {
  background-color: #66301A;
}

.priority-label {
  font-size: 14px;
  border: 2px solid #1E2940;
  border-radius: 5px;
  padding: 2px;
}

.priority-label--high {
  background-color: #9F3030;
}

.priority-label--medium {
  background-color: #E6A750;
}

.priority-label--low {
  background-color: #21A647;
}
