.planner {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 30px 20px;
  outline: 2px solid #152028;
  border-radius: 10px;
  font-size: 18px;
}

.dark-mode .planner {
  border: none;
  background-color: #1E3B40;
}

.planner__top-row {
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
}

.planner__item-box {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}

.planner__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.planner__item {
  list-style-position: inside;
  list-style-type: square;
  padding-bottom: 10px;
}

.planner__input {
  background-color: #F5F5DCFF;
  border-radius: 10px;
  border: none;
  padding: 10px 15px;

  &:focus {
    outline: 2px solid #faa549ff;
  }
}

.planner__btn {
  display: flex;
  justify-content: center;
  background-color: #1E2940;
  padding: 10px 15px;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  color: #F5F5DCFF;
  transition: background-color 1.5s;
  font-weight: 600;
  font-size: 20px;
  user-select: none;

  &:hover {
    background-color: #F5F5DCFF;
    color: #1E2940;
  }
}

.dark-mode .planner__btn {
  background-color: #F5F5DCFF;
  color: #1E2940;

  &:hover {
    background-color: #1E2940;
    color: #F5F5DCFF;
  }
}
